# /node_modules/* and /bower_components/* ignored by default

# Offcial core library
src/lib/live2d.core.nodoc.js

# Build files
dist/*

# Doc files
ghpages/*

# Files that don't support.
# Don't support import() which may throw an Error
src/index.js
